.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-container {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-bottom: 5px;
}

p {
  font-size: 20px;
  text-align: left;
}

h5 {
  font-weight: bold !important;
}
.card-text {
  font-size: 15px !important;
}

#learnmore {
  color: white;
  padding-bottom: 100px;
}

#brand {
  font-weight: bold;
}
#navlinks{
  color: black !important;
}